<nav class = "main-nav">
    <a href="{{ path('app_main') }}" class = "nav-icon" aria-current="page">
        <img class="nav-logo1"src="{{ asset('assets/images/child-care.svg')}}" alt="">
        <span class="nav-logo2">Ma Crêche</span>
    </a>

    <div class="main-menu">
        <button class="hamburger"type="button">
            <span></span>
            <span></span>
            <span></span>
   
        </button>
        <ul class="nav-menu">
            <li class="nav-item"><a href="{{ path('app_inscription') }}">Inscription</a></li>
            <li class="nav-item"><a href="">Item 2</a></li>
            <li class="nav-item"><a href="">Item 3</a></li>
            <li class="nav-item"><a href="">Item 4</a></li>
        </ul>
    </div>

    <div class="nav-authentification">
        <a href="" class="user-icon" aria-label="sign in page">
            {# <img src="{{ asset('assets/images/user.svg')}}" alt="user icon"> #}
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M20.37 21.25a.75.75 0 0 1-.75.75H4.38a.75.75 0 0 1-.75-.75c0-4.1 4.5-7.28 8.37-7.28s8.37 3.18 8.37 7.28M17.1 7.11A5.1 5.1 0 1 1 12 2a5.11 5.11 0 0 1 5.1 5.11"/></svg>
        </a>
        <div class="sign_button">
           <a href="{{ path('app_login') }}" class="button-l">Se Connecter</a>
           <a href="{{ path('app_register') }}" class="button-l">S'Inscrire</a>
           <a href="{{ path('app_logout') }}" class="button-l">Déconnexion</a>
        </div>
        
    </div>
    




</nav>