<nav class = "main-nav">
    <a href="{{ path('app_main') }}" class = "nav-icon" aria-current="page">
        <img class="nav-logo1"src="{{ asset('assets/images/child-care.svg')}}" alt="">
        <span class="nav-logo2">Ma Crêche</span>
    </a>

    <div class="main-menu">
        <button class="nav-button"type="button">
            <span></span>
            <span></span>
            <span></span>
   
        </button>
        <ul class="nav-menu">
            <li class="nav-item"><a href="">Item 1</a></li>
            <li class="nav-item"><a href="">Item 2</a></li>
            <li class="nav-item"><a href="">Item 3</a></li>
            <li class="nav-item"><a href="">Item 4</a></li>
        </ul>
    </div>

    <div class="nav-authentification">
        <a href="" class="user-icon" aria-label="sign in page">
            <img src="{{ asset('assets/images/user.svg')}}" alt="user icon">
        </a>
        <div class="sign_button">
           <a href="{{ path('app_login') }}" class="button-l">Se Connecter</a>
           <a href="{{ path('app_register') }}" class="button-l">S'Inscrire</a>
           <a href="{{ path('app_logout') }}" class="button-l">Déconnexion</a>
        </div>
        
    </div>
    




</nav>