<nav class="main-nav">
    <a href="{{ path('app_main') }}" class="nav-icon" aria-current="page">
        <img class="nav-logo1" src="{{ asset('images/child-care.svg') }}" alt="">
        <span class="nav-logo2">Ma Crêche</span>
    </a>

    <div class="main-menu">
        <button class="hamburger" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul class="nav-menu">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item"><a href="{{ path('app_administration') }}">Accueil</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="dropdown-toggle">Inscription enfant</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('app_inscription') }}">
                                <i class="fas fa-plus-circle"></i> Nouvelle inscription
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_add_child_to_user') }}">
                                <i class="fas fa-user-plus"></i> Ajout à une famille existante
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item"><a href="{{ path('app_child_list') }}">Liste des enfants</a></li>
                <li class="nav-item"><a href="{{ path('app_planning_day') }}">Planning du jour</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="nav-authentification">
        {% if app.user %}
            <span class="user-info">
               Connecté en tant que <span>{{ app.user.firstName }} {{ app.user.name }}</span>
                <span class="user-role">
                    {# Affiche le rôle principal #}
                    {% if is_granted('ROLE_ADMIN') %}
                        (Admin)
                    {% elseif is_granted('ROLE_STAFF') %}
                        (Staff)
                    {% elseif is_granted('ROLE_PARENT') %}
                        (Parent)
                    {% endif %}
                </span>
            </span>
            <a href="{{ path('app_logout') }}" class="button-l">Déconnexion</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="button-l">Se Connecter</a>
            <a href="{{ path('app_register') }}" class="button-l">S'Inscrire</a>
        {% endif %}
    </div>
</nav>