{% extends 'base.html.twig' %}

{% block title %}Ajouter un responsable légal{% endblock %}

{% block body %}
    <div class="form-wrapper">
        <h1>Ajouter un responsable légal pour {{ child.firstName }} {{ child.name }}</h1>

        {{ form_start(form, {'attr': {'class': 'edit-form'}}) }}
            <div class="form-section form-style-general">
                {{ form_row(form.recovery.name) }}
                {{ form_row(form.recovery.first_name) }}
                {{ form_row(form.recovery.email) }}
                {{ form_row(form.recovery.phone) }}
                {{ form_row(form.relation) }}
            </div>
            <div class="button-group">
                <button type="submit" class="form-button form-button--submit">Enregistrer</button>
                <a href="{{ path('app_inscription_show', {'childId': child.id}) }}" class="form-button form-button--cancel">Annuler</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}