{% extends 'base.html.twig' %}

{% block title %}Modifier le responsable{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>Modifier les informations du responsable</h1>
        
        {{ form_start(form, {'attr': {'class': 'edit-form'}}) }}
        <div class="form-section">
            {{ form_row(form.name) }}
            {{ form_row(form.first_name) }}
            {{ form_row(form.email) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.relation) }}
        </div>

        <div class="button-group">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a href="{{ path('app_inscription_show', {'childId': child.id}) }}" class="btn btn-secondary">Annuler</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}