{% extends 'base.html.twig' %}

{% block title %}Edit Recovery{% endblock %}

{% block body %}
    <div class="form-wrapper">
        <h1>Edit Recovery</h1>

        {{ form_start(form, {'attr': {'class': 'edit-form'}}) }}
        <div class="form-section form-section--user">
            {{ form_widget(form) }}
            
            <div class="button-group">
                <button type="submit" class="form-button form-button--submit">{{ button_label|default('Update') }}</button>
                <a href="{{ path('app_recovery_index') }}" class="form-button form-button--cancel">back to list</a>
                {{ include('recovery/_delete_form.html.twig') }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
