{% extends 'base.html.twig' %}

{% block title %}Child{% endblock %}

{% block body %}
    <h1>Child</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ child.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ child.name }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ child.firstName }}</td>
            </tr>
            <tr>
                <th>Birth_date</th>
                <td>{{ child.birthDate ? child.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
                        <tr>
                <th>Genre</th>
                <td>{{ child.genre }}</td>
            </tr>
            <tr>
                <th>Registration_date</th>
                <td>{{ child.registrationDate ? child.registrationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Unsubscription_date</th>
                <td>{{ child.unsubscriptionDate ? child.unsubscriptionDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Allergy</th>
                <td>{{ child.allergy }}</td>
            </tr>
            <tr>
                <th>Medical_specificity</th>
                <td>{{ child.medicalSpecificity }}</td>
            </tr>
            <tr>
                <th>Lundi_a</th>
                <td>{{ child.lundiA ? child.lundiA|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lundi_d</th>
                <td>{{ child.lundiD ? child.lundiD|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mardi_a</th>
                <td>{{ child.mardiA ? child.mardiA|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mardi_d</th>
                <td>{{ child.mardiD ? child.mardiD|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mercredi_a</th>
                <td>{{ child.mercrediA ? child.mercrediA|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mercredi_d</th>
                <td>{{ child.mercrediD ? child.mercrediD|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Jeudi_a</th>
                <td>{{ child.jeudiA ? child.jeudiA|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Jeudi_d</th>
                <td>{{ child.jeudiD ? child.jeudiD|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Vendredi_a</th>
                <td>{{ child.vendrediA ? child.vendrediA|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Vendredi_d</th>
                <td>{{ child.vendrediD ? child.vendrediD|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_child_index') }}">back to list</a>

    <a href="{{ path('app_child_edit', {'id': child.id}) }}">edit</a>

    {{ include('child/_delete_form.html.twig') }}
{% endblock %}
