<form data-action="submit->planning-editor#submit" data-planning-id="{{ planning.id }}">
    <div class="toggle-switch">
                <span>Présent</span>
        {{ form_widget(form.absence) }}

        <label for="{{ form.absence.vars.id }}"></label>
        
        <span>Absent</span>
    </div>
    <div class="presence-form-part">
        {{ form_row(form.actual_arrival) }}
        {{ form_row(form.actual_departure) }}
    </div>
    <button type="submit" class="form-button form-button--submit">Valider</button>
</form> 