{% extends 'base.html.twig' %}

{% block title %}Planning du {{ date|date('d/m/Y') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="planning-container">
            <div class="date-navigation">
            {# <a href="{{ path('app_planning_day', {date: date|date_modify('-1 day')|date('Y-m-d')}) }}" class="navig-jour">
                Jour précédent
            </a> #}
            {# <h1>Planning du {{ date|format_datetime('full', 'none', locale='fr') }}</h1> #}
            <h1 class="planning-title">
                <span class="date-display">
                    <span class="day-name">{{ date|format_datetime(pattern="EEEE", locale="fr")|capitalize }}</span>
                    <span class="day-number">{{ date|date('d') }}</span>
                    <span class="month">{{ date|format_datetime(pattern="MMMM", locale="fr")|capitalize }}</span>
                    <span class="year">{{ date|date('Y') }}</span>
                </span>
            </h1>
            {# <a href="{{ path('app_planning_day', {date: date|date_modify('+1 day')|date('Y-m-d')}) }}" class="navig-jour">
                Jour suivant
            </a> #}
        </div>
        <div class="week-navigation">
            <a href="{{ path('app_planning_day', {date: date|date_modify('-7 days')|date('Y-m-d')}) }}" class="week-nav-button">
                <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                </svg>
            </a>

            <div class="week-info">
                <div class="week-number">
                    {% if weekDays is not empty %}
                        Semaine {{ weekDays[0].week }}
                    {% else %}
                        Semaine {{ date|date('W') }}
                    {% endif %}
                </div>
                
                <div class="weekdays">
                    {% if weekDays is not empty %}
                        {% for calendarDay in weekDays %}
                            {% set isToday = calendarDay.date|date('Y-m-d') == "now"|date('Y-m-d') %}
                            {% set isClosed = calendarDay.isClosed == false %}
                            {% set closureReason = isClosed ? calendarDay.closureJustification : null %}
                            {% set isSelected = calendarDay.date|date('Y-m-d') == date|date('Y-m-d') %}
                            
                            <a href="{{ path('app_planning_day', {date: calendarDay.date|date('Y-m-d')}) }}" 
                               class="day-box {{ isToday ? 'current-day' }} {{ isClosed ? 'closed-day' }} {{ isSelected ? 'selected-day' }}">
                                <div class="day-name">{{ calendarDay.day }}</div>
                                <div class="day-number">{{ calendarDay.date|date('d') }}</div>
                                {% if isClosed and closureReason %}
                                    <div class="closure-indicator">{{ closureReason }}</div>
                                {% endif %}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <a href="{{ path('app_planning_day', {date: date|date_modify('+7 days')|date('Y-m-d')}) }}" class="week-nav-button">
                <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                    <path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/>
                </svg>
            </a>
        </div>



        <div class="planning-grid">
            <div class="timeline-header">
                <div class="empty-cell"></div>
                {% for hour in 7..19 %}
                    <div class="hour-column">
                        <div class="hour-label">{{ hour }}h</div>
                        <div class="quarter-hours">
                            {% for minute in [0, 15, 30, 45] %}
                                <div class="quarter-hour"></div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% if plannings|length > 0 %}
                {% for planning in plannings %}
                    <div class="child-row">
                        <div class="child-info">
                            {{ planning.child.firstName }} {{ planning.child.name }}
                        </div>
                        <div class="presence-container">
                            {% set startHour = planning.startTime|date('G') %}
                            {% set startMinute = planning.startTime|date('i') %}
                            {% set endHour = planning.endTime|date('G') %}
                            {% set endMinute = planning.endTime|date('i') %}
                            
                            <div class="presence-bar" 
                                 style="--start-position: {{ (startHour - 7) + (startMinute/60) }}; 
                                        --duration: {{ (endHour - startHour) + ((endMinute - startMinute)/60) }}">
                                {{ planning.startTime|date('H:i') }} - {{ planning.endTime|date('H:i') }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}