{# filepath: c:\wamp64\www\symfony_creche\templates\administration\index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<div class= "centrage-column esquive-navbar">
    
    <div class="bienvenue">
    {% if app.user %}
        <div>Bienvenue <span>{{ app.user.firstName }}</span> <span>{{ app.user.name }}</span></div>
    {% else %}
        <div>Bienvenue invité</div>
    {% endif %}
</div>
    <div class="datetime-container">
    <div class="date-container">
        <span class="day-name">{{ date|date('l')|trans|capitalize }}</span>
        <span class="day-number">{{ date|date('d') }}</span>
        <span class="month">{{ date|date('F')|trans|capitalize }}</span>
        <span class="year">{{ date|date('Y') }}</span>
    </div>
    <div class="time-container">
        <span class="hours">{{ date|date('H') }}</span>
        <span class="separator">:</span>
        <span class="minutes">{{ date|date('i') }}</span>
    </div>
</div>
    
    <section class="card-container">
        {# Card Enfants présents #}
        <card class="card">
            <img src="{{ asset('images/baby.svg') }}" alt="icon child" class="icon-accueil">
            <h3>{{ present_children_count }}</h3>
        </card>

        {# Card Repas #}
        <card class="card">
            <img src="{{ asset('images/meal.svg') }}" alt="icon meal" class="icon-accueil">
            <h3>{{ mealsCount|default(0) }}</h3>
        </card>

        {# Card Enfants prévus #}
        <card class="card">
            {# <img src="{{ asset('images/child-care.svg') }}" alt="icon calendar"> #}
            <twig:ux:icon name="fa6-solid:children" class="icon-accueil" />
            <h3>{{ childrenCount|default(0) }}</h3>
        </card>
    </section>
    <div class="index-availability">{% include 'components/_availability_bar.html.twig' with { availabilities: availabilities, max: max } %}</div>
{% endblock %}
